/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap"); 
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 1px;
  height: 10px;
  margin-left: 10px;
  z-index: 9999;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d4d4d4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #747474;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
body {
  scrollbar-width: thin; /* "thin" or "auto" may also work */
  scrollbar-color: #747474;
}

body::-moz-scrollbar {
  width: 0;
}

body::-moz-scrollbar-thumb {
  background: #747474;
}

body::-moz-scrollbar-thumb:hover {
  background: #555;
}
/* newly added by me */
/* Prevent Chrome RTL fallback bug */
*[contenteditable="true"] {
  direction: ltr !important;
  unicode-bidi: plaintext !important;
}
/* Required for proper caret behavior inside flex containers */
*[contenteditable="true"] {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}
/* Fix outside click detection */
#root,
.app,
body {
  position: relative !important;
  pointer-events: auto !important;
}
